<div class="container">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-2">
      <div class="visualize">
        <h2>Visualizations</h2>
        <h3>Pie Chart</h3>
        <div
          class="chart-container"
          style="position: relative; height: 300px; width: 300px"
        >
          <canvas id="myPie" width="200" height="200"></canvas>
        </div>
        <h3>Bar Chart</h3>
        <div
          class="chart-container"
          style="position: relative; height: 300px; width: 300px"
        >
          <canvas id="myBarChart" width="200" height="200"></canvas>
        </div>

        <h3>DoughNut Chart</h3>
        <div
          class="chart-container"
          style="position: relative; height: 300px; width: 300px"
        >
          <canvas id="myDoughNut" width="200" height="200"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
